#row_image{
  float: right;
}

div#books_menu {
  float: left;
  height: 180px;

}

div#books_menu a{
  display: block;
  padding-bottom: 20px;
}

div #footer {
  width: 800px;
  float: right;
}

table{
  padding-bottom: 15px;
}
