/*style file*/

/*used to center align entire page*/
/*html {
    margin: auto;
}
*/

body {
    vertical-align: middle;
    font-family: arial;
}


div#page{
  align: center;
  margin:auto;
  width:800px
}

#header{
  height: 170px;
}

div#logo{
  float: left;
}

div#header_links{
  height: 70px;
  float: right;
  padding-top: 60px;
}

div#header_links a{
  padding: 12px;
}

div #welcome {
  padding-left: 150px;
}

h1 {
  margin-bottom: 0px;
}

/* for the always-visible menu options */
.Links li {
padding: 0;
margin: 0;
float: left; /*Move list elements up to form a horizontal line*/
list-style: none; /*Remove the bullet markers from the unordered list*/
font: bold .7em Verdana;
}

.Links li a {
display: block; /*Let’s specify a width; can’t specify inline element width*/
width: 159px;
padding: 4px 10px;
margin: 0 1px 0 0;;
background-color: #ADD8E6;
color: #FFF;
text-align: center;
text-decoration: none;
}

/*div#links{
  background-color: #ADD8E6;
  height: 64px;
}

div#links a {
  padding-left: 46px;
  padding-right: 46px;
  text-decoration: none;
  color: #000;
  height: 64px;
  line-height: 64px;
  display: block;
  float: left;
  border-left: 1px solid #7f8083;
}*/


div#links a:hover {
  background-color: #5FB361;
}

#content{

}

#info{
  float: left;
  width: 500px;
}

#ReaderImg {
  padding-left: 5px;
}


#footer {
  text-align: center;
}
