/*style file*/

/*used to center align entire page*/
/*html {
    margin: auto;
}
*/

body {
    vertical-align: middle;
    font-family: arial;
}


div#page{
  align: center;
  margin:auto;
  width:800px
}

#header{
  height: 170px;
}

div#logo{
  float: left;
}

div#header_links{
  height: 70px;
  float: right;
  padding-top: 100px;
}

div#header_links a{
  padding: 14px;
}

div #welcome {
  padding-left: 150px;
}

h1 {
  margin-bottom: 0px;
}

/* for the always-visible menu options */
.Links li {
padding: 0 0 20px 0;
margin: 0;
float: left; /*Move list elements up to form a horizontal line*/
list-style: none; /*Remove the bullet markers from the unordered list*/
font: .7em Arial;
}

.Links li a {
display: block; /*Let’s specify a width; can’t specify inline element width*/
width: 169px;
padding: 4px 10px;
margin: 0 1px 0 0;;
background-color: #ADD8E6;
color: #FFF;
text-align: center;
text-decoration: none;
height: 50px;
font-size: 20px;
}

/* for the drop-down menu options */
.Links div {
  position: absolute; /*Takes menu strip out of the “normal flow”*/
  background-color: #ADD8E6;
  border: 1px solid #fff;
  visibility: hidden; /*Adjusted by calls to show() and hide()*/
}
.Links div a {
  display: block; /*Let’s specify a width; can’t specify inline element width*/
  width: 168px;
  padding: 5px 10px;
  background-color: #ADD8E6;
  color: #FFF;
  text-align: left;
  text-decoration: none;
  font: 90% Arial;
  font-size: 20px;
}
.Links div a:hover { /*To change color when the mouse hovers over a link*/
  background-color: #4876FF;
  color: #FFF;
}

#content{
  padding-left: 30px;
  align: center;
}

#info{
  float: left;
  width: 500px;
}

#coverRotate {
  margin-left:70px;
  margin-bottom: 30px;
}


#footer {
  text-align: center;
  padding-bottom: 25px;
}

#site_map{
  float: right;
}
