/*style file*/

/*used to center align entire page*/
/*html {
    margin: auto;
}
*/

body {
    vertical-align: middle;
    font-family: "Arial", "Times New Roman";
}


div#page{
  align: center;
  margin:auto;
  width:800px
}

#header{
  height: 170px;
}

div#logo{
  float: left;
}

div#contact{
  font-size: 15px;
  text:align: center;
  float: right;
}

div #welcome {
  text-align: center;
}

div#links{
  height: 70px;
  float: right;
  padding-top: 60px;
}

div#links a{
  padding: 12px;
}


#search {
  float:right;
  padding-right: 16px;
}


div#books_menu {
  float: left;
  height: 180px;

}

div#books_menu a{
  display: block;
  padding-bottom: 20px;
}

#content{
  width: 800px;
}

#map_image{
  padding-left: 5px;
  float: left;
}

#row_image{
  float: right;
}

#info{
  float: left;
  width: 500px;
}
