/*style file*/

/*used to center align entire page*/
/*html {
    margin: auto;
}
*/

body {
    vertical-align: middle;
    font-family: arial;
}


div#page{
  align: center;
  margin:auto;
  width:800px
}

#header{
  height: 170px;
}

div#logo{
  float: left;
}

div#contact{
  text:align: center;
  padding-top: 50px;
  padding-left: 100px;
  float: right;
}

div #welcome {
  padding-left: 150px;
}

div#links{
  background-color: #ADD8E6;
  height: 90px;
}

div#links a {
  padding-left: 53px;
  padding-right: 53px;
  text-decoration: none;
  color: #000;
  height: 90px;
  line-height: 90px;
  display: block;
  float: left;
  border-left: 1px solid #7f8083;
}

#content{

}

#info{
  float: left;
  width: 500px;
}

#image{
  float: right;
}
